
body {
    background-color: #f8f9fa; /* Світлий фон для сторінки */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
}

.login-form {
    flex: 1;
    padding: 50px 40px;
}

.login-form h2 {
    margin-bottom: 30px;
}

.login-form .btn-login {
    background-color: #007bff;
    color: #fff;
}

.login-image {
    flex: 1;
    background: url("/static/img/signup-image.jpg") center center / contain no-repeat;
    background-color: #ffffff;
}

.register-link {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #6c757d;
}

@media (max-width: 768px) {
    .login-card {
        flex-direction: column;
    }

    .login-image {
        height: 200px;
    }
}