{% extends 'base.html' %}
a

{% block content %}
    <h2 class="mb-4" style="text-align: center">{{ object|yesno:"Update,Create" }} Test</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'quizzes:test-list' %}" class="btn btn-simple">
            Cancel
        </a>
        <a href="" class="btn btn-primary">
            Завантажити питання
        </a>
    </form>
{% endblock %}